---
layout: archive
title: "Software"
permalink: /software/
author_profile: true
---

<div class="page-content">
  <h1>{{ page.title }}</h1>
  <div class="software-list">
    {% for software in site.software %}
      <div class="software-post">
        <!-- Software Title -->
        <h2><a href="{{ software.link }}" target="_blank">{{ software.title }}</a></h2>

        <!-- Software Duration -->
        <p><strong>Duration:</strong> {{ software.duration }}</p>

        <!-- Software Description -->
        <p><strong>Description:</strong> {{ software.description }}</p>

        <!-- Software Technologies -->
        {% if software.technologies %}
          <p><strong>Technologies:</strong> 
            {% for tech in software.technologies %}
              {{ tech }}{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}

        <hr>
      </div>
    {% endfor %}
  </div>
</div>
